<h1>Jobs Dashboard</h1>

<%= link_to "<< Back to Companies List <<", root_path %>
<br>
<h3> Job count by interest level </h3>
  <table>
    <tr>
      <th> Level of Interest </th>
      <th> Job Count </th>
    </tr>
    <% @job_count_by_interest.each do |k, v| %>
    <tr>
      <th><%= k %></th>
      <th><%= v %></th>
    </tr>
    <% end %>
  </table>

  <br><br>

  <h3> Job count by City </h3>
    <table>
      <tr>
        <th> City </th>
        <th> Job Count </th>
      </tr>
      <% @job_count_by_city.each do |k, v| %>
      <tr>
        <th><%= link_to k, "/jobs?location=#{k}" %> </th>
        <th><%= v %></th>
      </tr>
      <% end %>
    </table>
