All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %> <%= link_to "Edit", edit_company_job_path(@company, job) %> <%= link_to "Delete", company_job_path(@company, job), method: :delete %></ul>
<% end %>

<br>
<%= link_to "<< Back to Companies List <<", root_path %>

<br><br>
<h4>Create a new job for <%= @company.name %> here!</h4>
<%= link_to "Create a new job", new_company_job_path(@company) %>


<br><br><br>


Enter a New contact for <strong><%= @company.name %><br></strong>
<%= render partial: "contacts/form"  %>

<br><br>

All Contacts for <strong><%= @company.name %><br></strong>
<%= render partial: "companies/contact" %>
